## Week 1

### Introduction 

Course Structures:

- Week 1: Statements, expressions, and variables
- Week 2: Functions, logic, and conditionals
- Week 3: Event-driven programming, local/global variables
- Week 4: Canvas, drawing, timers
- Week 5: List, keyboard input, the basics of modeling motion

### CodeSkulptor

- Python Coding Environment
- Interactive
- Run on Browser
- Store and Share files in the cloud

In [1]:
print('Hello Python3')

Hello Python3

### Arithmetic Expressions

In [2]:
# print out some numbers
print(3, -1, 3.14159, -2.8)

3 -1 3.14159 -2.8

In [3]:
print(type(3), type(3.14159))

<class 'int'> <class 'float'>

In [4]:
print(type(3.0))

<class 'float'>

In python number are two types `int` and `float or decimal`

**We can convert data types using int() and float()**

In [5]:
print(int(3.14159), int(-2.8))

3 -2

In [6]:
print(float(3), float(-3))

3.0 -3.0

In [7]:
import math
print(math.sqrt(2.0))

1.4142135623730951

In [8]:
# sqrt(2) = 1.4142135623730950488...
print(1.4142135623730950488)

1.4142135623730951

In [9]:
# Arithmetic operators

# +(plus), -(minus), *(times), /(divide by), **(power)

In [10]:
print(1 + 2, 3 - 4, 4 * 6, 2 ** 5)

3 -1 24 32

In [11]:
print(1/3, 1.0/3)

0.3333333333333333 0.3333333333333333

In [12]:
# // integer division
print(1 // 3)

0

In [13]:
print(1 + 2 * 3, 4.0 - 5.0 / 6.0)

7 3.1666666666666665

**Operator precedence**

Top to bottom:

- () 
- **
- * 
- /
- +
- -

In [14]:
print( 1 * 2 + 2 * 4)

10

Always manually group using parentheses when in doubt

In [15]:
print( 1 * (2 + 3) * 4)

20

#### Practice Exercises for Expressions (optional)

- There are 5280 feet in a mile. Write a Python statement that calculates and prints the number of feet in 13 miles.

In [16]:
print(5280 * 13)

68640

- Write a Python statement that calculates and prints the number of seconds in 7 hours, 21 minutes and 37 seconds.

In [17]:
print( 7 * 3600 + 21 * 60 + 37)

26497

- The perimeter of a rectangle is `2w+2h`, where `w` and `h` are the lengths of its sides. Write a Python statement that calculates and prints the length in inches of the perimeter of a rectangle with sides of length `4` and `7` inches.

In [18]:
print(2 * 4 + 2 * 7)

22

### Variables

Variables is a placeholder for storing value.

**Variable naming rules**:

- Valid variable names consists of letters, numbers, and underscore.
- starts with letter or underscore
- case sensitive (capitalization matters)

In [19]:
my_name = 'Md. Nahid Hassan'
my_age = 23

print(my_name, my_age)

Md. Nahid Hassan 23

In [20]:
# next year my age will be.....
my_age = my_age + 1
print(my_age)

24

In [21]:
magic_pill = 12

# after eating magic_pill my_age
my_age = my_age - magic_pill
print(my_age)

12

#### Fahrenheit to Celsius

```text
c = 5 / 9 * (f - 32)
```

In [22]:
temp_farhenheit = 32
temp_celsius = 5.0 / 9.0 * (temp_farhenheit - 32)
print(temp_celsius)

0.0

In [23]:
temp_farhenheit = 320
temp_celsius = 5.0 / 9.0 * (temp_farhenheit - 32)
print(temp_celsius)

160.0

#### Celsius to Farhenheit

```text
f = 9 / 5 * c + 32
```

In [24]:
temp_celsius = 100
temp_farhenheit = 9.0 / 5.0 * temp_celsius + 32
print(temp_farhenheit)

212.0

#### Practice Exercises for Variables and Assignments

- Given a template that pre-defines a variable `miles`, write an assignment statement that defines a variable `feet` whose value is the number of `feet in miles`.

In [25]:
miles = 34
feet = miles * 5280
print(feet)

179520

- Calculate the area of a cirle.

```text
area = pi * radius ** 2
```

In [26]:
import math

pi = math.pi
radius = 10

area = pi * radius
print(area)

31.41592653589793

- Challenge: Heron's formulastates the area of a triangle is `√(s(s−a)(s−b)(s−c))` where `a`, `b` and `c` are the lengths of the sides of the triangle and `s` = `1/2(a+b+c)` is thesemi-perimeterof the triangle.

In [27]:
a = 32
b = 30
c = 20

s = (a + b + c) / 2
print(s)

area_of_triangle = math.sqrt(s * (s - a) * (s - b) * (s - c))
print(area_of_triangle)

41.0
291.95718864244463

### Mini Project Week 1

In [28]:
print('We want... a shrubbery!')

We want... a shrubbery!

### Functions

```py
# header section
def func_name(parameters):
    # body section
    ....
```

In [29]:
# computes the area of a triangle

# header
def triangle_area(base, height):
    # body
    area = .5 * base * height
    return area

a1 = triangle_area(3, 10)
print(a1)

15.0

#### Modular Arithmetic

In [30]:
num = 49
tens = num // 10
print(tens)

4

In [31]:
ones = num % 10
print(ones)

9

In [32]:
# print original number
print(10 * tens + ones)

49

#### Clock Arithmetic

**24 Hours Clock**

In [33]:
hour = 20
shift = 8
print((hour + shift) % 24)

4

#### Application - Screen Wraparound

In [34]:
width = 800
position = 797
move = 5

position = (position + move) % width
print(position)

2

In [35]:
width = 800
position = 2
move = -5

position = (position + move) % width
print(position)

797

#### Convert 3 to 24 hour format like 03:00

In [36]:
hour = 3
ones = 3 // 10
tens = 3 % 10

hour_24_formats = str(ones) + str(tens) + ":00"
print(hour_24_formats)

03:00

### Practice Exercises for Functions (optional)

- Write a Python function `miles_to_feet` that takes a parameter `miles` and returns the number of `feet` in miles.

In [37]:
def miles_to_feet(miles):
    feet = miles * 5280
    return feet

print(miles_to_feet(10))

52800

- Write a Python function `future_value` that takes `three parameters` `present_value`, `annual_rate` and `years` and returns the future value of `present_value` dollars invested at `annual_rate` percent interest, compounded annually for `years`.

In [38]:
def future_value(present_value, annual_rate, years):
    return present_value * (1 + 0.01 * annual_rate) ** years

future_value(100, 23, 19)

5107.367603050422

- Write a Python function `print_digits` that takes an integer `number` in the range `[0,100)`, i.e., `at least 0, but less than 100`. It prints the message `"The tens digit is %, and the ones digit is %."`

In [39]:
import random

def print_digits(number):
    ones = number % 10
    tens = number // 10
    
    print(number)
    return f'The tens digit is {tens}, and the ones digit is {ones}'

print_digits(random.randint(0,100))

77

'The tens digit is 7, and the ones digit is 7'

### Logic and Comparisons

![images](images/truth-table.png)

#### Logic

In [40]:
a = True
b = False

print(a)
print(b)

True
False

In [41]:
print(not a)
print(not b)

False
True

In [42]:
print(a and b)
print(a or b)

False
True

- Greater than - `>`
- Less than - `<`
- Greater than equal - `>=`
- Less than equal - `<=`
- Equal - `==`
- Not equal - `!=`

In [43]:
a = 7 > 3
print(a)

True

In [44]:
a = 7 < 3
print(a)

False

In [45]:
a = 7 == 3
print(a)

False

In [46]:
a = 7 != 3
print(a)

True

In [47]:
c = 'Hello' == 'Hello'
print(c)

True

#### Conditionals

In [48]:
def greet(friend, money):
    if friend and (money > 20):
        print("Hi!")
        money = money - 20
    elif friend:
        print("Hello")
    else:
        print("Ha Ha")
        money = money + 10
    return money

money = 45

# If you are my friends pass True else False
money = greet(True, money)
print("Money: ", money)

print()

money = greet(False, money)
print("Money: ", money)

print()

money = greet(True, money)
print("Money: ", money)

Hi!
Money:  25

Ha Ha
Money:  35

Hi!
Money:  15

#### Leap Year

In [49]:
def is_leap_year(year):
    if (year % 400) == 0:
        return True
    elif (year % 100) == 0:
        return False
    elif (year % 4) == 0:
        return True
    else:
        return False
    
year = 2920
leap_year = is_leap_year(year)

if leap_year:
    print(year, 'is a leap year.')
else:
    print(year, 'is not a leap year.')

2920 is a leap year.

### Practice Exercises for Logic and Conditionals  

- Write a Python function `is_even` that takes as input the parameter `number` (an integer) and returns `True` if `number` is even and `False` if `number` is odd.

In [50]:
def is_even(number):
    if not number % 2:
        return True
    else:
        return False

is_even(10)

True

In [51]:
is_even(11)

False

- Write a Python function `is_cool` that takes as input the string `name` and returns `True` if `name` is either `'Joe'` and `'Jhon'` or `'Stephen'` and returns `False` otherwise.

In [52]:
def is_cool(name):
    if name == 'Joe' or name == 'John':
        return True
    else:
        return False

print(is_cool('Joe'))
print(is_cool('John'))
print(is_cool('Stephen'))

True
True
False

- Write a Python function `name_lookup` that takes a string `first_name` that corresponds to one of `('Joe', "Scott", 'John', or 'Stephen')` and then returns their corresponding last name `("Warren", "Rixner", "Greiner", or "Wong")`. If `first_name` doesn't match any of those strings, return the string `"Error: Not an instructor"`.

In [53]:
def name_lookup(name):
    if name == 'Joe':
        return "Warren"
    elif name == 'Scott':
        return 'Rixner'
    elif name == 'John':
        return 'Greiner'
    elif name == 'Stephen':
        return 'Wong'
    else:
        return "Error: Not an instructor"

name_lookup("Scott")

'Rixner'

In [54]:
name_lookup('nahid')

'Error: Not an instructor'

- **Pig Latin** is a language game that involves altering words via a simple set of rules. Write a Python function `pig_latin` that takes a string `word` and applies the following rules to generate a new word in Pig Latin.  If the first letter in `word` is a `consonant`, append the consonant plus `"ay"` to the end of the remainder of the word. For example, `pig_latin("pig")` would return `"igpay"`.  If the first letter in `word` is a `vowel`, append `"way"` to the end of the word.You can assume that `word` is in lower case.

In [55]:
def pig_latin(word):
    if word[0] == 'a' or word[0] == 'e' or word[0] == 'i' or word[0] == 'o' or word[0] == 'u':
        return word[1:] + word[0] + 'way'
    else:
        return word[1:] + word[0] + 'ay'

pig_latin('pig')

'igpay'

### Event-Driven Programming

In [56]:
import PySimpleGUI as sg                        # Part 1 - The import

# Define the window's contents
layout = [  [sg.Text("What's your name?")],     # Part 2 - The Layout
            [sg.Input()],
            [sg.Button('Ok')] ]

# Create the window
window = sg.Window('Window Title', layout)      # Part 3 - Window Defintion

# Display and interact with the Window
event, values = window.read()                   # Part 4 - Event loop or Window.read call

# Do something with the information gathered
print('Hello', values[0], "! Thanks for trying PySimpleGUI")

# Finish up by removing from the screen
window.close()                                  # Part 5 - Close the Window

Hello deep panin ! Thanks for trying PySimpleGUI

### Fun with List

In [57]:
l = [1, 4, -7, 10.0]
print(l)

[1, 4, -7, 10.0]

In [58]:
l2 = ['milk', 'banana']
print(l2)

['milk', 'banana']

In [59]:
# list inside list
l3 = [[1,2], ['egg', 'fry'], []]
print(l3)

[[1, 2], ['egg', 'fry'], []]

In [60]:
print(len(l), print(l2), print(l3))

['milk', 'banana']
[[1, 2], ['egg', 'fry'], []]
4 None None

In [61]:
len(l), len(l2), len(l3)

(4, 2, 3)

In [62]:
l[0], l[-1] # first and last element

(1, 10.0)

In [63]:
l3[0]

[1, 2]

In [64]:
l2[1:]

['banana']

In [65]:
# update
l2[1] = 'two banana'
l2

['milk', 'two banana']

### Keyboard Input

In [66]:
chr(18)

'\x12'

In [67]:
chr(65)

'A'