### String .join() method

The `join()` `string` method returns a string by joining all the elements of an `iterable`, separated by a `string` separator.

```py
    string.join(iterable)
    '-'.join(['a', 'b'])
```

**Iterable**: `List`, `Tuple`, `String`, `Set`, `Dictionary` etc.

In [2]:
'-'.join(['A', 'B', 'C'])

'A-B-C'

In [4]:
s1 = '-abc-'
s2 = str(123456789)

s1.join(s2)

'1-abc-2-abc-3-abc-4-abc-5-abc-6-abc-7-abc-8-abc-9'

In [5]:
s2.join(s1)

'-123456789a123456789b123456789c123456789-'

In [6]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))

# .join() with tuples
numTuple = ('1', '2', '3', '4')
print(separator.join(numTuple))

1, 2, 3, 4
1, 2, 3, 4

## List

Lists are `arrays` of elements that can be accessed and modified using their index into the array.

The indices of a list `start` with `0`. The `last` element can also be accessed with
the index `−1`, the `second last` with `−2`and so on.

In [11]:
num_list = [0,1,2,3,4,5,6,7,8,9]
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
num_list[0] # first element

0

In [13]:
num_list[1:3] # 1..<3

[1, 2]

In [14]:
num_list[:5] # 0...<5

[0, 1, 2, 3, 4]

In [15]:
num_list[5:] # 5...end

[5, 6, 7, 8, 9]

In [16]:
num_list[-3:] # -3 -> 3rd last, then 2nd last, then last

[7, 8, 9]

In [17]:
# num_list[start : end : step]
num_list[3: 8 : 2]

[3, 5, 7]

In [18]:
num_list[:] # all elements

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
num_list[::2] # all evenly indices

[0, 2, 4, 6, 8]

In [20]:
num_list[::-1] # reverse

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

The most important methods of a list for our usage are listed below. Their complexity is expressed in terms of n, the length of the list L

#### len(iterable)

In [21]:
# complexity O(1)
len(num_list) # return number of elements

10

#### sorted(iterable)

In [22]:
# O(n log n) 
sorted(num_list) # return the sorted copy of the list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Understand sorted copy

In [23]:
num_list = [2, 1, 4, 5, 0, 7, 9, 8, 3, 6]

In [24]:
num_list

[2, 1, 4, 5, 0, 7, 9, 8, 3, 6]

In [29]:
sorted_num_list = sorted(num_list)
sorted_num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
num_list # no change in original list

[2, 1, 4, 5, 0, 7, 9, 8, 3, 6]

#### list.sort()

Sorts `num_list` in place

In [30]:
num_list.sort()

In [31]:
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### list.count(c)

Output: Return number of occurence.

Complexity: O(n)

In [32]:
new_list = [1,2,3,4,2,1,3,2,1]
new_list.count(1)

3

#### in 

item `in` iterable.

If item in iterable then return `True` else return `False`

Complexity: O(n)

In [33]:
2 in new_list

True

In [34]:
10 in new_list

False

#### list.append(item/iterable)

Add `item/iterable` in the end of the list.

Complexity: amortised O(1)

In [36]:
l = [10, 'a', '%', str.upper]
l

[10, 'a', '%', <method 'upper' of 'str' objects>]

In [37]:
l.append(72)

In [38]:
l.append([17,18,19])

In [39]:
l

[10, 'a', '%', <method 'upper' of 'str' objects>, 72, [17, 18, 19]]

In [41]:
l.append({'name': 'Nahid', 'age': 23})
l

[10,
 'a',
 '%',
 <method 'upper' of 'str' objects>,
 72,
 [17, 18, 19],
 {'name': 'Nahid', 'age': 23}]

#### list.pop()

Extracts and returns the last element of `List`.

amortised O(1)